app = "{{ fly_app_name }}"
primary_region = "{{ fly_primary_region }}"
kill_signal = "SIGINT"
kill_timeout = "5s"
console_command = "/app/manage.py shell_plus"

[experimental]
  auto_rollback = true

[deploy]
  release_command = "/release.sh"
  strategy = "bluegreen"

[env]
  ALLOWED_HOSTS = "{{ fly_app_name }}.fly.dev,directory.westervelt.com"
  DEBUG = "False"
  DISABLE_SERVER_SIDE_CURSORS = "True"
  PORT = "8000"
  SENTRY_DSN = "{{ sentry_dsn }}"
  SENTRY_ENV = "production"

[processes]
  web = "/web.sh"
  {%- if include_worker %}
  worker = "/worker.sh"
  {%- endif %}

[[services]]
  protocol = "tcp"
  internal_port = 8000
  processes = ["web"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"

[[statics]]
  guest_path = "/app/staticfiles"
  url_prefix = "/static/"
