attrs
boto3
coverage[toml]
{%- if include_worker %}
croniter
{%- endif %}
django
django-allauth
{%- if use_anymail %}
django-anymail[mailgun]
{%- endif %}
django-browser-reload
django-click
django-coverage-plugin
django-debug-toolbar
{%- if use_email_relay %}
django-email-relay
{%- endif %}
django-extensions
django-filter
django-flyio
django-health-check
django-htmx
{%- if include_worker %}
django-q2
{%- endif %}
django-simple-history
django-storages
django-stubs
django-tailwind-cli
django-template-partials
environs[django]
gunicorn
heroicons
ipython
model_bakery
mypy
neapolitan
pip-tools
pre-commit
psycopg
psycopg-binary
pytest
pytest-django
pytest-randomly
pytest-reverse
pytest-xdist
ruff
sentry-sdk[django]
{%- if include_worker %}
types-croniter
{%- endif %}
{%- if include_weasyprint %}
weasyprint
{%- endif %}
whitenoise
