services:
  app:
    # environment:
    #   DISPLAY: ":0"
    # platform: linux/amd64
    # volumes:
    #   - /tmp/.X11-unix:/tmp/.X11-unix

  db:
    # platform: linux/amd64

  node:
    # platform: linux/arm64/v8

  tailwind:
    # platform: linux/amd64

  worker:
    # platform: linux/amd64
