attrs
boto3
coverage[toml]
croniter
django
django-allauth
django-browser-reload
django-click
django-coverage-plugin
django-debug-toolbar
# upper bounds for `django-email-relay` since it runs distributed
# https://django-email-relay.westervelt.dev/en/latest/updating.html
django-email-relay<0.5
django-extensions
django-filter
django-flyio
django-health-check
django-htmx
django-q2
django-q-registry
django-simple-history
django-simple-nav
django-storages
django-stubs
django-tailwind-cli
django-template-partials
django-twc-toolbox
django-vite
environs[django]
gunicorn
heroicons
httpx
ipython
model_bakery
mypy
playwright
pre-commit
psycopg
psycopg-binary
pytest
pytest-django
pytest-is-running
pytest-playwright
pytest-randomly
pytest-reverse
pytest-xdist
ruff
sentry-sdk[django]
types-croniter
uv
whitenoise

django-twc-ui @ git+https://super-secret-token:x-oauth-basic@github.com/westerveltco/django-twc-ui.git@main
neapolitan @ git+https://github.com/westerveltco/neapolitan.git@main
