*

!{{ module_name }}/
!static/
!templates/
!.bin/
!manage.py
!package*.json
!postcss.config.mjs
!pyproject.toml
!requirements*.txt
!tailwind.config.mjs
{%- if include_vite %}
!tsconfig.json
!vite.config.ts
{%- endif %}

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__/
