services:
  app:
    # environment:
    #   DISPLAY: ":0"
    # platform: linux/amd64
    # volumes:
    #   - /tmp/.X11-unix:/tmp/.X11-unix

  db:
    # platform: linux/amd64
{%- if include_vite %}

  node:
    # platform: linux/arm64/v8
{%- endif %}

  tailwind:
    # platform: linux/amd64

  worker:
    # platform: linux/amd64
