{
  "devDependencies": {
    "@django-twc-ui/tailwind": "git+https://{{ twc_ui_token }}:x-oauth-basic@github.com/westerveltco/django-twc-ui.git#v{{ twc_ui_version }}",
    "tailwindcss": "^{{ tailwindcss_version }}",
    "autoprefixer": "^10.4.16",
    "postcss": "^8.4.31"
  }
}
