-c requirements.txt
git+https://{{ django_twc_ui_token }}:x-oauth-basic@github.com/westerveltco/django-twc-ui.git@main
# our fork of neapolitan
https://github.com/westerveltco/neapolitan/archive/main.zip
