{
  "compilerOptions": {
    "allowJs": true,
    "allowSyntheticDefaultImports": true,
    "composite": true,
    "downlevelIteration": true,
    "emitDecoratorMetadata": true,
    "esModuleInterop": true,
    "experimentalDecorators": true,
    "forceConsistentCasingInFileNames": true,
    "isolatedModules": true,
    "jsx": "react-jsx",
    "lib": [
      "DOM",
      "DOM.Iterable",
      "ESNext"
    ],
    "module": "ESNext",
    "moduleResolution": "Node",
    "noEmit": true,
    "noFallthroughCasesInSwitch": true,
    "paths": {
      "@/*": [
        "./static/src/*"
      ]
    },
    "resolveJsonModule": true,
    "skipLibCheck": true,
    "strict": true,
    "target": "ESNext",
    "types": [
      "node",
      "vite/client",
      "vitest"
    ],
    "useDefineForClassFields": true
  },
  "include": [
    "postcss.config.mjs",
    "prettier.config.mjs",
    "static",
    "tailwind.config.mjs",
    "vite.config.ts"
  ]
}
