.devcontainer/
.git/
.github/
.vscode/
__pycache__/
docs/
tests/
*.sqlite3
.editorconfig
.env*
.eslintrc.*
.nvmrc
.pre-commit-config.yaml
.python-version
Dockerfile
Justfile
LICENSE
Procfile.dev
README.md
fly.toml
prettier.config.*
pyproject.toml
requirements*.in
