{%- raw -%}
{% load static %}
{% load django_htmx %}
{% load tailwind_cli %}
{%- endraw %}
{%- if include_vite %}
{% raw %}{% load django_vite %}{% endraw %}
{%- endif %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {% raw %}{% block title %}{% endraw %}
        {{ project_name | title }}
      {% raw %}{% endblock title %}{% endraw %}
    </title>
    <meta name="description" content="">
    <meta name="author" content="">
{%- raw %}
    {% block css %}
    {% endblock css %}
    {% tailwind_css %}
{%- endraw %}
{%- if include_vite %}
    {% raw %}{% vite_react_refresh %}{% endraw %}
    {% raw %}{% vite_hmr_client %}{% endraw %}
{%- endif %}
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/head-support.js"
            integrity="sha384-CtqhRhV1bHrqMSWc8cQGQL4epjUqCHjq/kJ9ztGHS39vO/1phOgyhFIieE87UKMu"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/idiomorph@0.3.0"
            integrity="sha384-tg/2Ca9U/RohyxmGCb8qJVR3j9cswtKbdRSXOaPX/aDDOW1bfbeyV+7G9ifYF4bC"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"
            integrity="sha384-NoiTdF/KjxH4wa6OHMdM4F6e/LIPNMcFBgOIINTTaczWo0vX1mWTOzckySqlGQS/"
            crossorigin="anonymous"></script>
    {% raw %}{% django_htmx_script %}{% endraw %}
    {% raw %}{% if debug %}{% endraw %}
      <script>
        if (typeof window.htmx !== "undefined") {
          htmx.on("htmx:afterSettle", function(detail) {
            if (
              typeof window.djdt !== "undefined"
              && detail.target instanceof HTMLBodyElement
            ) {
              djdt.show_toolbar();
            }

            if (typeof window.Alpine !== "undefined") {
              Alpine.start();
            }
          });
        }
      </script>
    {% raw %}{% endif %}{% endraw %}
    <script defer
            src="https://unpkg.com/@alpinejs/ui@3.13.3-beta.4"
            integrity="sha384-BOC0hrQPTXQv3X+4j0CDVtDdBplQLPPs6KJfKnc3r7/DNlbvpd9EjykBWP/sNH9v"
            crossorigin="anonymous"></script>
    <script defer
            src="https://unpkg.com/@alpinejs/collapse@3.13.3"
            integrity="sha384-2OH1oWuzGQTwIVsefc3w96FepRDcaddeEJiyo8ZXCQA4jP7C4mQMdI70jDKtgq0R"
            crossorigin="anonymous"></script>
    <script defer
            src="https://unpkg.com/@alpinejs/focus@3.13.3"
            integrity="sha384-KbHuoVQjZqKnY0E8Zy6AadqsgGJwz0QYY5kk9XyFE2GTDeOqNYsSBDLCNOuSwcis"
            crossorigin="anonymous"></script>
    <script defer
            src="https://unpkg.com/alpinejs@3.13.3"
            integrity="sha384-Rpe/8orFUm5Q1GplYBHxbuA8Az8O8C5sAoOsdbRWkqPjKFaxPgGZipj4zeHL7lxX"
            crossorigin="anonymous"></script>
{%- raw %}
    {% block javascript_head %}
    {% endblock javascript_head %}
{%- endraw %}
  </head>
  {% raw %}{% block body %}{% endraw %}
    <body {% raw %}{% if debug %}class="debug-screens"{% endif %}{% endraw %}
          hx-ext="head-support, preload">
      <main class="mt-16">
{%- raw %}
        {% block content %}
        {% endblock content %}
{%- endraw %}
      </main>
{%- raw %}
      {% block javascript_foot %}
      {% endblock javascript_foot %}
{%- endraw %}
    </body>
  {% raw %}{% endblock body %}{% endraw %}
</html>
