{% extends "base.html" %}
{% block content %}
  <h1>404</h1>
  <p>Oops! The page you're looking for can't be found.</p>
  <p>
    It looks like the page you were trying to reach doesn't exist or has been moved. Don't worry, this happens to the best of us.
  </p>
  <p>Here are some helpful links to get you back on track:</p>
  <ul>
    <li>Homepage: [Your Website URL]</li>
    <li>About Us: [Your Website URL]/about-us</li>
    <li>Contact Us: [Your Website URL]/contact-us</li>
  </ul>
  <p>
    If you still can't find what you're looking for, feel free to reach out to us at [Your Support Email]. We're always here to help.
  </p>
{% endblock content %}
