name: Deploy

on:
  push:
    tags:
      - "^20[0-9]+.[0-9]+$"
    branches:
      - main
  workflow_dispatch:

concurrency: production

env:
  CI: True
  FORCE_COLOR: 1

jobs:
  bumpver:
    runs-on: ubuntu-latest
    outputs:
      current_version: ${{ steps.bumpver.outputs.current_version }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install bumpver
        run: |
          python -m pip install --upgrade pip
          python -m pip install bumpver

      - name: Configure git to push
        run: |
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "Automated Publisher"

      - name: Bump Version
        id: bumpver
        run: |
          bumpver update
          eval $(bumpver show --env)
          echo "{current_version}=$CURRENT_VERSION" >> $GITHUB_OUTPUT

      - name: Push Release Build to GitHub
        run: |
          git push

  deploy:
    runs-on: ubuntu-latest
    needs: bumpver
    environment: production
    steps:
      - uses: actions/checkout@v4

      - uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          FLY_API_TOKEN: "op://GitHub Actions/default/FLY_API_TOKEN"

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only

  sentry:
    runs-on: ubuntu-latest
    needs: bumpver
    environment: production
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          SENTRY_AUTH_TOKEN: "op://GitHub Actions/sentry/RELEASE_TOKEN"

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_ORG: "the-westervelt-company"
          SENTRY_PROJECT: "default"
        with:
          environment: production
          version: ${{ needs.bumpver.outputs.current_version }}
