*

!default/
!static/
!templates/
!.bin/
!manage.py
!package*.json
!postcss.config.mjs
!requirements*.txt
!tailwind.config.mjs
!tsconfig.json
!vite.config.ts

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__/
