*

!default/
!static/
!templates/
!.bin/
!manage.py
!package*.json
!postcss.config.mjs
!pyproject.toml
!requirements*.txt
!tailwind.config.mjs

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__/
