name: examples

on:
  push:
    branches: [main]
    paths:
      - "examples/**.yml"
      - "src/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v1

      - uses: westerveltco/setup-ci-action@v0
        with:
          python-version: "3.8"
          python-requirements: requirements-dev.lock

      - name: Setup Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@users.noreply.github.com"

      - name: Generate examples
        run: |
          just generate-examples

      - name: Get SHA of push commit
        id: shortsha
        run: echo "shortsha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Commit and push if examples have changed
        run: |-
          git add -A
          git commit -m "Regenerated examples for ${{ steps.shortsha.outputs.shortsha }}" || exit 0
          git push
